extends layout

block content
  .row
    .col
      p #{incident.incident_id}
    .col-6
      p Police Report
  .row
    .col
      p #{incident.oc_date}
    .col
      p #{incident.oc_time}
    .col-6
      p #{incident.incident_type}
  .row
    .col
      p #{incident.local}
    .col
      p #{incident.c_local}
  .row
    p #{incident.add_p}
  .row
    p #{incident.add_v}
  .row
    p #{incident.narr}
