extends layout

block content
  .row
    .col
      p #{incident.incident_id}
    .col-6
      p Police Report
  .row
    .col
      p #{incident.occurence_date}
    .col
      p #{incident.occurence_time}
    .col-6
      p #{incident.incident_type}
  .row
    .col
      p #{incident.location}
    .col
      p #{incident.location_common}
  .row
    p #{incident.add_people}
  .row
    p #{incident.add_vehicle}
  .row
    p #{incident.narrative}
