extends layout

block content
  div.row.border
    div.col.border
      p #{incident.incident_id}
    div.col-6.border
      p Police Report
  div.row.border
    div.col.border
      p #{incident.oc_date}
    div.col.border
      p #{incident.oc_time}
    div.col-6.border
      p #{incident.incident_type}
  div.row.border
    div.col.border
      p #{incident.local}
    div.col.border
      p #{incident.c_local}
  div.row.border
    p #{incident.add_p}
  div.row.border
    p #{incident.add_v}
  div.row.border
    p #{incident.narr}
