extends layout

block content
  .row
    .col
      p Code #{people.p_code}
    .col-6
      p #{people.name}
    .col
      p SSN/DL #{people.ssn_dl}
  .row
    .col
      img(src='', alt='Person pic')
    .col
      p Race #{people.race}
    .col
      p Gender #{people.origin}
    .col
      p Height #{people.height}
    .col
      p Weight #{people.weight}
    .col
      p Hair Color #{people.hair_color}
    .row
      .col
        p #{people.lifespan}
      .col
        p Eye Color #{people.eye_color}
  .row
    .col
      p Gang Affiliation #{people.gang_aff}
    .col 
      p Address #{people.address}
    .col
      p Phone Number #{people.phone_number}
  .row
    .col
      p Address #{people.address}
    .col
      p Phone Number #{people.phone_number}
  .row
    p Scars/Marks/Tattoos #{people.smt}
    
    

    div(style='margin-left:20px;margin-top:20px')

      h4 Vehicle:

      dl
        each vehicle in people_vehicles
          dt
            a(href=vehicle.url) #{vehicle.model}
          dd #{vehicle.make}

        else
          p This person has no vehicle associated with them.

            hr
    p
      a(href=people.url+'/delete') Delete Person
    p
      a(href=people.url+'/update') Update Person