extends layout

block content
  div.row
    div.col
      p Code: #{people.p_code}
    div.col-6
      p Name: #{people.name}
    div.col
      p SSN: #{people.social}
  div.row
    div.col
      img(src='', alt='Person pic')
    div.col
      p Race: #{people.prace}
    div.col
      p Gender: #{people.nation}
    div.col
      p Height: #{people.height}
    div.col
      p Weight: #{people.weight}
    div.col
      p Hair Color: #{people.hair_color}
    div.row
      div.col
        p DOB/DOD: #{people.lifespan}
      div.col
        p Eye Color: #{people.eye_color}
  div.row
    div.col
      p Gang Affiliation: #{people.gang}
    div.col 
      p Address: #{people.adress}
    div.col
      p Phone Number: #{people.phone}
  div.row
    div.col
      p Drivers Licence: #{people.drivers}
    div.col
      p Address: #{people.adress}
    div.col
      p Phone Number: #{people.phone}
  div.row
    div.col
      p Scars/Marks/Tattoos: #{people.scar}
    div.col
      p HAZARD: #{people.haz}

    
    

    div(style='margin-left:20px;margin-top:20px')

      h4 Vehicle:

      dl
        each vehicle in people_vehicles
          dt
            a(href=vehicle.url) #{vehicle.model}
          dd #{vehicle.make}

        else
          p This person has no vehicle associated with them.

            hr
    p
      a(href=people.url+'/delete') Delete Person
    p
      a(href=people.url+'/update') Update Person