extends layout

block content

  div(class='container')
  div(class='row')
    div(class='col')
      //-SSN
    div(class='col-sm-6')
      //-First Name - Middle Name - Last Name
      p #{people.name}
    div(class='col')
      //-DOB
      p #{people.lifespan}
  div(class='row')
    
    

    div(style='margin-left:20px;margin-top:20px')

      h4 Vehicle:

      dl
        each vehicle in people_vehicles
          dt
            a(href=vehicle.url) #{vehicle.vehicle_model}
          dd #{vehicle.vehicle_body_type}

        else
          p This person has no vehicle associated with them.

            hr
    p
      a(href=people.url+'/delete') Delete Person
    p
      a(href=people.url+'/update') Update Person