extends layout

block content
  div.row
    div.col
      p #{vehicle.platenumber}
    div.col
      p #{vehicle.vehiclec}
    div.col
      p #{vehicle.vehicley}
    div.col
      p #{vehicle.make}
    div.col
      p #{vehicle.model}
  div.row
    div.col
      p #{vehicle.bodyt}
    div.col
      p #{vehicle.registration}
    div.col
      p #{vehicle.vin}
  div.row
    p #{vehicle.vehicled}
    
