extends layout

block content
  .row
    .col
      p #{vehicle.platenumber}
    .col
      p #{vehicle.vehiclec}
    .col
      p #{vehicle.vehicley}
    .col
      p #{vehicle.make}
    .col
      p #{vehicle.model}
  .row
    .col
      p #{vehicle.bodyt}
    .col
      p #{vehicle.registration}
    .col
      p #{vehicle.vin}
  .row
    p #{vehicle.vehicled}
    
