extends layout

block content
  div.row.border
    div.col.border
      p #{vehicle.platenumber}
    div.col.border
      p #{vehicle.vehiclec}
    div.col.border
      p #{vehicle.vehicley}
    div.col.border
      p #{vehicle.make}
    div.col.border
      p #{vehicle.model}
  div.row.border
    div.col.border
      p #{vehicle.bodyt}
    div.col.border
      p #{vehicle.registration}
    div.col.border
      p #{vehicle.vin}
  div.row.border
    p #{vehicle.vehicled}
    
  p
    a(href=vehicle.url+'/delete') Delete vehicle
  p
    a(href=vehicle.url+'/update') Update vehicle