extends layout

block content
div(class='row')
  div(class='col-sm')
    p #{vehicle.vehicle_year}
  div(class='col-sm')
    p #{vehicle.vehicle_make}
  div(class='col-sm')
    p #{vehicle.vehicle_color}
  div(class='col-sm')
    p #{vehicle.vehicle_model}
  div(class='col-sm')
    p #{vehicle.vehicle_body_type}
div(class='row')
  div(class='col-sm')
    p #{vehicle.plate_number}
  div(class='col-sm')
    p #{vehicle.vehicle_vin}
  div(class='col-sm')
    p #{vehicle.vehicle_registration}
div(class='row')
  p #{vehicle.vehicle_details}
div(class='row')
  p #{}