extends layout

block content
  .row
    .col
      p Licence Plate #{}
    .col
      p Color Of Vehicle #{}
    .col
      p Year Of Vehicle #{}
    .col
      p Make Of Vehicle #{}
    .col
      p Model #{}
  .row
    .col
      p Body Type #{}
    .col
      p Registration #{}
    .col
      p VIN #{}
  .row
    p Details #{}
    
