extends layout

block content
  .row
    .col
      p #{vehicle.plate_number}
    .col
      p #{vehicle.vehicle_color}
    .col
      p #{vehicle.vehicle_year}
    .col
      p #{vehicle.vehicle_make}
    .col
      p #{vehicle.vehicle_model}
  .row
    .col
      p #{vehicle.vehicle_body_type}
    .col
      p #{vehicle.vehicle_registration}
    .col
      p #{vehicle.vehicle_vin}
  .row
    p #{vehicle.vehicle_details}
    
